

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: Ubuntu;
    src: url(../fonts/Ubuntu-Regular.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
}
ul, ol, li, a{
    list-style: none;
    text-decoration: none;
    display: inline-block;
}
:root{
    --primary-font: 'Roboto','Ubuntu', sans-serif;
    --brand-color: #FFFFFF;
    --text-color: #707070;
    --text-light-color: #aaaaaa;
    --button-color: #007E6A;
    --heading-color: #707070;
    --bg-color: rgb(23, 44, 47);
    font-size: 10px;
    
}
p{
    font-size: 1.8rem;
    font-family: var(--primary-font);
    font-weight: 400;
    color: var(--text-color);
    margin: 15px 0;
    line-height: 28px;
    letter-spacing: 2;
}
h3{
    font-size: 2.2rem;
    font-family: var(--primary-font);
    font-weight: 600;
    color: var(--heading-color);
    margin: 15px 0;
}
.container{
    width: 94%;
    margin: 0 auto;
}
.d-flex{
    display: flex;
}
.button{
    padding: 15px 35px;
    background-color: var(--button-color);
    border-radius: 25px;
    font-size: 1.8rem;
    font-family: var(--primary-font);
    font-weight: 400;
    color: var(--brand-color);
    margin: 15px 10px 15px 0;
}
.heading{
    font-size: 3.8rem;
    font-family: var(--primary-font);
    font-weight: 600;
    color: var(--heading-color);
    margin: 15px 0;
}
/* header part css start */
.header-overlay{
    background-color: rgba(6, 31, 36, 0.9);
    text-align: left;

}
.header{
    background: url(../images/banner1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.header-area{
padding-top: 150px;
}
.header-content{
 width: 65%;
 padding: 100px 100px 150px 0;
}
.header-content .right-button{
    background-color: rgba(128, 128, 128, 0.3);
    border: 1px solid white;
}
.header-img{
    width: 35%;
    height: auto;
    background: url(../images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    border-radius: 15px;
}
.header-content p{
    color: var(--brand-color);
}
.header-content h1{
    font-size: 4rem;
    font-family: var(--primary-font);
    font-weight: 600;
    color: var(--brand-color);
    margin: 15px 0;
}
.header-content h2{
    font-size: 10rem;
    font-family: var(--primary-font);
    font-weight: 700;
    color: var(--brand-color);
}
/* navbar part css start */
.brand span{
    font-size: 3.2rem;
    font-family: var(--primary-font);
    font-weight: 600;
    color: var(--brand-color);
}
nav{
    width: 100%;
    position: absolute;
    top: 0px;
    background-color: rgba(6, 31, 36, 0);
    padding: 20px 0;
}
.navbar{
    position: sticky;
    top: 0;
    align-items: center;
    justify-content: baseline;
    justify-content: space-between;
}
.nav-items ul li{
    margin: 0 15px;
}
.nav-items ul li a{
    font-size: 1.8rem;
    font-family: var(--primary-font);
    font-weight: 400;
    color: var(--brand-color);
}
/* navbar part css end */

/* header part css end */
/* about part css start */
.about{
    margin: 30px 0;

}
.biography{
    padding: 30px 0;
}
.biography-img{
    background: url(../images/about.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 35%;
    box-sizing: border-box;
    border-radius: 15px;
}
.biography-content{
    width: 65%;
    padding: 40px 100px 35px 70px;
}
.bio-description h4{
    text-transform: uppercase;
    font-size: 1.6rem;
    font-family: var(--primary-font);
    font-weight: 500;
    color: var(--text-color);
    margin: 15px 0;
}
.bio-description p{
    padding-bottom: 35px;
    border-bottom: 1px solid rgba(112, 112, 112, 0.3);
}
.details span{
    color: var(--heading-color);
    font-size: 1.9rem;
    font-weight: 600;
}
.first-col{
    margin-right: 80px;
}
.link-icon{
    align-items: center;
    margin: 50px 0;
}
.link-icon h3{
    color: var(--heading-color);
    font-size: 2.2rem;
    font-weight: 700;
    margin-right: 15px;
}

.link-icon ul li{
    margin: 0 10px;
}
.link-icon ul li a{
    color: var(--button-color);
    font-size: 2.2rem;
    font-weight: 700;
}
.cv-button{
    background-color: rgb(4, 194, 112);
}
/* about part css end */
/* service part css start */
.service{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #F6F6F6;
    padding: 60px 0;
}
.service h3 a{
    color: var(--button-color);
    margin-top: 20px;
}
.service h1{
    margin: 35px 0;
}
.card{
    background-color: var(--brand-color);
    text-align: left;
    padding: 25px;
    margin: 0 20px;
    border-radius: 10px;

}
.card a{
    font-size: 40px;
    color: var(--button-color);
}
/* service part css end */
/* skill part css start */
.skill-img{
    width: 50%;
    background: url(../images/skill.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    border-radius: 15px;
    margin-right: 30px;
}
.skill-area{
    padding: 80px 0;
}
.skill-content{
    width: 50%;
    margin-left: 35px;
}
.skill-content h4{
    text-transform: uppercase;
    font-size: 1.6rem;
    font-family: var(--primary-font);
    font-weight: 500;
    color: var(--text-color);
    letter-spacing: 2;
    margin: 15px 0;
}
.skill-content p{
    margin: 15px 0 40px 0;
}
.progress-info{
    margin: 30px 0;
}
.progress-info label{
    font-size: 1.8rem;
    font-family: var(--primary-font);
    font-weight: 500;
    color: var(--text-color);
    letter-spacing: 2;
}
.progress-info progress{
    width: 100%;
    height: 1rem;
    background: var(--button-color);
    border-radius: 50%;
}
/* skill part css end */
/* banner part css start */
.banner{
    background-color: #F6F6F6;
}
.banner-content{
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    padding: 90px 0;
}
.banner-items{
    width: 50%;
    align-items: start;
    margin: 20px 0;
}
.banner-items .icon{
    font-size: 2.8rem;
    color: var(--button-color);
}
.banner-items .content{
    padding: 0 20px;
}
.banner-items .content h3{
    margin-top: 0; 
}
.banner-img{
    width: 35%;
    background: url(../images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    margin-left: 90px;
    border-radius: 15px;
}
/* banner part css end */
/* single area part css start */
.text-center{
    padding: 100px 0;
}
.single-area{
    width: 25%;
    text-align: center;
}
.single-area h2{
    font-size: 4.6rem;
    font-weight: 700;
    font-family: var(--primary-font);
    color: var(--heading-color);
}
.single-area p{
    margin: 10px 0;
}
/* single area part css end */
/* success work part css start */
.work{
    text-align: center;
    background-color: #F6F6F6;
    padding: 80px 0;
}
.work h1{
    padding: 0px 0 30px;
}
.work-items{
    flex-wrap: wrap;
}
.work-card{
    position: relative;
    overflow: hidden;
    margin: 10px;
    height: 280px;
    width: 400px;
    border-radius: 10px;
}
.work-card img{
    height: 100%;
    width: 100%;
}
.card-overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: 0.3s;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.work-card:hover .card-overlay{
    transform: scale(1);
    transition: 0.3s;
}
.card-overlay h2{
    font-size: 2.8rem;
    font-weight: 600;
    font-family: var(--primary-font);
    color: var(--brand-color);
}
.card-overlay p{
    color: var(--brand-color);
}
/* success work part css end */
/* brand part css start */
 marquee{
    background-color: #397F6A;
    padding: 60px 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
 }
 marquee img{
    height: auto;
    width: 293px;
 }
/* brand part css end */
/* footer part css start */
footer{
    background-color: #061F24;
    padding: 100px 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer ul li,
footer ul li a{
    font-size: 1.8rem;
    font-family: var(--primary-font);
    font-weight: 400;
    color: var(--text-light-color);
    margin: 15px 0;
    line-height: 28px;
    letter-spacing: 2;
}
footer ul li{
    margin: 0 15px;
}
/* footer part css end */
/* copyright part css start */
.copyright{
    background-color: #01181D;
    padding: 15px 50px;
    align-items: center;
    justify-content: space-between;
}
.copyright p{
    color: var(--text-light-color);
}
.copyright p span a{
    color: var(--button-color);
}
.copyright ul li a{
    font-size: 1.8rem;
    font-family: var(--primary-font);
    font-weight: 400;
    color: var(--text-light-color);
    margin: 15px 0;
    padding: 15px;
    background-color: #061F24;
    border-radius: 50%;
}
/* copyright part css end */